<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <!--<add key="SoapUITestRunnerBatchFile" value="C:\progra~1\SmartBear\ReadyAPI-2.1.0\bin\testrunner.bat"/>-->
       <add key="SoapUITestRunnerBatchFile" value="Z:\bin\testrunner.bat"/>
      <add key="SoapUIProjectXMLFileName" value="REST-Project-1-soapui-project-new.xml"/>
      
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
