@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
<input id="a2" name="a2" type="text" />
<input id="b2" name="b2" type="text" />
<input id="c2" name="c2" type="button"  value="add" onclick='javascript: document.getElementById("d2").value = document.getElementById("a2").value + document.getElementById("b2").value' />
<input id="d2" name="d2" type="text"  />

<p>Use this area to provide additional information VINOD </p>
